

/*-- scss:defaults --*/

// navigation color
$navbar-bg: #cca37f;
$navbar-fg: #2d3037;

// base document colors
$body-bg: #2d3037;
$body-color: white;
$link-color: #cca37f;

// base font
$font-family-sans-serif: "Quicksand";
