
/* Rules */

h2 {
    margin-bottom: 2rem;
    border-bottom: none;
}

p {
  margin-bottom: 1.5rem;
}


/* -- Code chunk */
div.cell-code {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


/* -- Code chunk output */
div.sourceCode {
  background-color: unset;
  border-color: #bf906c;
}