

/*-- scss:defaults --*/

// navigation color
$navbar-bg: #726d67;

// base document colors
$body-bg: #2d3037;
$body-color: white;
$link-color: #bf906c;

// base font
$font-family-sans-serif: "Quicksand";
